@import "tailwindcss";

@theme {
  --font-bricolage: "Bricolage Grotesque", sans-serif;
}

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html, body, #root {
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-bricolage);
    background-color: #F9FAFB;
    color: #282828;
    -webkit-font-smoothing: antialiased;
  }

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
